* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background: #333333;
    box-shadow: 0px -2px 2px #000000;
    margin-top: 300px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    float: left;
    width: 150px;
    height: 50px;
    background: #222222;
    margin-right: 1px;
    font-size: 14px;
}

.navbar ul li:hover {
    color: #ffffff;
    background: rgba(238, 82, 83, 1);
    animation: changeColor 3s infinite;
    animation-delay: 1s;
}

@keyframes changeColor {
    0% {
        background: #1d84b5;
    }
    50% {
        background: #00cecb;
    }
    100% {
        background: #1d84b5;
    }
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul li ul li {
    display: none;
    width: 150px;
    height: 50px;
    float: initial;
    background: rgba(1, 163, 164, 1);
    font-size: 10px;
    transition: 1s;
}

.navbar ul li:hover ul li {
    display: block;
    border-top: 1px solid rgba(72, 219, 251, 0.5);
}


/*以下switch样式*/